html {
    height: 100%;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    /*background-color: #151515;*/
    padding: 0;
    margin: 0;
    min-height: 100%;
}
#wrapper {
    /*background-color: #151515;*/
    height: 100%;
}
#inputpanel {
    background-color: #e3e3e3;
    margin: 100px;
    padding: 20px;
}
#textpanel {
    color: #e2e2e2;
    height: 100%;
}

#textpanel p {
    text-align: center;
}
.textention {
    color: #e2e2e2;
}
.textention-section {
    color: #e2e2e2;
    font-size: 1.25em;
}

#scroller{
	/*padding: 20px;*/
}
#title {
    color: #e2e2e2;
    font-weight: 800;
    font-size: 1.25em;
}
.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid black;
    padding: 2px;
}

.custom-menu a {
    text-decoration: none;
    color: blue;
}

.custom-menu a:link {
    color: #151515;
}

.custom-menu a:visited {
    color: #151515;
}

.custom-menu a:hover {
    color: #ff0000;
}

.outline-item a {
    text-decoration: none;
    color: #e2e2e2;
}

.outline-item a:link {
    color: #e2e2e2;
}

.outline-item a:visited {
    color: #e2e2e2;
}

.outline-item a:hover {
    color:#ffffff;
}

.bookTitle {
    font-size: 1.5em;
}

.bookAuthor {
    font-size: 1.5em;
}

.search-highlight {
    background-color: #5f5f5f;
    color: #e5e5e5;
}

.highlight {
    background-color: #bfbf3f;
    color: #000000;
}

@media only screen and (min-width: 768px) {
	#textpanel {
    color: #e2e2e2;
    margin: 300px;
    height: 100%;
}
#textpanel p {
    text-align: center;
    padding: 50px;
}
    #scroller {
        padding: 20px 75px;
    }
    .textention {
        margin-right: 265px;
        /*padding:50px;*/
    }
}
}
